{{#partial "title"}}
    404 Not Found
{{/partial}}

{{#partial "content"}}
    <h1>Well this is embarrassing!</h1>
    <p>We couldn't find what you were looking for...</p>
{{/partial}}

{{> base.hbs}}